.bg-1 {
  background: url("../images/bg/home-2.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.bg-2 {
  background: url("../images/bg/home-5.jpg");
  background-size: cover;
}

.bg-3 {
  background: url("../images/bg/services.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.bg-3 {
  background: url("../images/bg/contact.jpg") no-repeat 50% 50%;
  background-size: cover;
}
