.bg-1 {
  background: url("../images/bg/home-2.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.bg-2 {
  background: url("../images/bg/home-5.jpg");
  background-size: cover;
}

.bg-3 {
  background: url("../images/bg/services.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.bg-4 {
  background: url("../images/bg/contact.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.bg-5 {
  background: url("../images/bg/ux-design-services.jpg") no-repeat 50% 50%;
  background-size: cover;
}


.bg-6 {
  background: url("../images/bg/seo-services.png") no-repeat 50% 50%;
  background-size: cover;
}


.bg-7 {
  background: url("../images/bg/branding.png") no-repeat 50% 50%;
  background-size: cover;
}


.bg-8 {
  background: url("../images/bg/consulting-services.png") no-repeat 50% 50%;
  background-size: cover;
}

.bg-9 {
  background: url("../images/blog/web-services.png") no-repeat 50% 50%;
  background-size: cover;
}

.bg-10 {
  background: url("../images/bg/socialmedia-services.png") no-repeat 50% 50%;
  background-size: cover;
}


.bg-11 {
  background: url("../images/bg/doubletree_hotel.jpg") no-repeat 50% 50%;
  background-size: cover;
}