<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Implant Direct Marketing</title>
    <meta name="description" content="Implant Direct Marketing Website Case Study">
    <meta name="viewport" content="width=device-width">
    <!--favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <!-- cool button-->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="styles/particles.css" />
    <link rel="stylesheet" type="text/css" href="styles/base.css" />
    <script>document.documentElement.className = "js"; var supportsCssVars = function () { var e, t = document.createElement("style"); return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e }; supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
    <!--end up button-->
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel='stylesheet' href='bower_components/components-font-awesome/css/font-awesome.css' />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/mantra.css -->
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/animate.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:200,300,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
</head>

<!--cool button-->

<body class="demo-1">
    <svg class="hidden">
        <symbol id="icon-arrow" viewBox="0 0 24 24">
            <title>arrow</title>
            <polygon points="6.3,12.8 20.9,12.8 20.9,11.2 6.3,11.2 10.2,7.2 9,6 3.1,12 9,18 10.2,16.8 " />
        </symbol>
        <symbol id="icon-drop" viewBox="0 0 24 24">
            <title>drop</title>
            <path d="M12,21c-3.6,0-6.6-3-6.6-6.6C5.4,11,10.8,4,11.4,3.2C11.6,3.1,11.8,3,12,3s0.4,0.1,0.6,0.3c0.6,0.8,6.1,7.8,6.1,11.2C18.6,18.1,15.6,21,12,21zM12,4.8c-1.8,2.4-5.2,7.4-5.2,9.6c0,2.9,2.3,5.2,5.2,5.2s5.2-2.3,5.2-5.2C17.2,12.2,13.8,7.3,12,4.8z" />
            <path d="M12,18.2c-0.4,0-0.7-0.3-0.7-0.7s0.3-0.7,0.7-0.7c1.3,0,2.4-1.1,2.4-2.4c0-0.4,0.3-0.7,0.7-0.7c0.4,0,0.7,0.3,0.7,0.7C15.8,16.5,14.1,18.2,12,18.2z" />
        </symbol>
        <svg id="icon-github" viewBox="0 0 33 33">
            <title>github</title>
            <path d="M16.608.455C7.614.455.32 7.748.32 16.745c0 7.197 4.667 13.302 11.14 15.456.815.15 1.112-.353 1.112-.785 0-.386-.014-1.411-.022-2.77-4.531.984-5.487-2.184-5.487-2.184-.741-1.882-1.809-2.383-1.809-2.383-1.479-1.01.112-.99.112-.99 1.635.115 2.495 1.679 2.495 1.679 1.453 2.489 3.813 1.77 4.741 1.353.148-1.052.569-1.77 1.034-2.177-3.617-.411-7.42-1.809-7.42-8.051 0-1.778.635-3.233 1.677-4.371-.168-.412-.727-2.069.16-4.311 0 0 1.367-.438 4.479 1.67a15.602 15.602 0 0 1 4.078-.549 15.62 15.62 0 0 1 4.078.549c3.11-2.108 4.475-1.67 4.475-1.67.889 2.242.33 3.899.163 4.311C26.37 12.66 27 14.115 27 15.893c0 6.258-3.809 7.635-7.437 8.038.584.503 1.105 1.497 1.105 3.017 0 2.177-.02 3.934-.02 4.468 0 .436.294.943 1.12.784 6.468-2.159 11.131-8.26 11.131-15.455 0-8.997-7.294-16.29-16.291-16.29"></path>
        </svg>
        <svg id="icon-rewind" viewBox="0 0 36 20">
            <title>rewind</title>
            <path d="M16.315.061c.543 0 .984.44.984.984v17.217c0 .543-.44.983-.984.983L.328 10.391s-.738-.738 0-1.476C1.066 8.178 16.315.061 16.315.061zM35.006.061c.543 0 .984.44.984.984v17.217c0 .543-.44.984-.984.984L19.019 10.39s-.738-.738 0-1.475C19.757 8.178 35.006.06 35.006.06z" />
        </svg>
    </svg>
    <!--end cool button-->



    <body ng-app="trishApp" ng-controller="MainCtrl as ctrl">
        <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

        <!--
    /**

     * Navbar
     *
     */ -->
        <div ng-controller="NavigationCtrl as nav">
            <!--
       /**
       *
       * This element is for handling scroll and nav correlations.
       */ -->
            <div id="anchorBeginIsScrolledDown" ng-class="{'navbar-equal-height-fix': nav.isScrolledDown}"></div>
            <!--
      /**
       * Bootstrap navbar component
       */ -->
            <!-- Add your site or application content here -->
            <nav id="navbar" class="navbar navbar-inverse" ng-class="{'navbar-fixed-top': nav.isScrolledDown}">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" ng-class="{'cross': !nav.isCollapsed}" ng-click="nav.toggleNav()">MENU</button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <!-- <div collapse="nav.isCollapsed" id="navbarNav"> -->
                    <div uib-collapse="nav.isCollapsed">
                        <ul class="nav navbar-nav">
                            <li>
                                <a du-smooth-scroll du-scrollspy offset="70" ng-href="http://trishid.com/" ng-click="nav.toggleNav(true)">Projects</a>
                            </li>
                            <li>
                                <a du-smooth-scroll du-scrollspy offset="70" ng-href="http://trishid.com/#about-me"
                                    ng-click="nav.toggleNav(true)">About Me</a>
                            </li>
                            <li>
                                <a du-smooth-scroll du-scrollspy offset="70" ng-href="http://trishid.com/#work-with-me"
                                    ng-click="nav.toggleNav(true)">Contact Me</a>
                            </li>
                            <li>
                                <a href="/files/trishB_resume.pdf" target="_blank">Resume</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>

        </div>

        <!--
    /**
     * Section 2
     */ -->

        <section id="my-work" class="container-fluid">
            <div class="jumbotron">
                <h1 class="display-4">Implant Direct
                    </br>International Website Redesign Case Study </h1>


                <img class="mr-6" src="images/ID_marketing_banner.png" alt="Implant Direct redesign" width="100%"
                    height="auto">

                <p class="lead">I was hired to redesign, build and maintain websites. For this project, I did a form of qualitative and  quantitative research and tests to help my understanding
                    of how to improve the usability
                    and user needs based on the user's perceptions and behavior when interacting with the website.

                    For my user research, I did many surveys, meetings, focus groups, video observation, meetings w/
                    all department
                    managers, anonymous online customers, key opinion leaders, customer support team, and the president
                    of the company to
                    ask about strengths, weaknesses, new feature possibilities, threats, and ideas for improvement so
                    that I could grasp a
                    full circle perspective.
                    This was for 12 international marketing and e-commerce websites with a complete user experience
                    update to make the
                    website responsive for mobile devices and easier for the IT department to maintain and market in
                    multiple languages.

                </p>

                <div id="projectTitle">
                    <h2>Goal</h2>
                </div>

                <p class="lead">To improve web performance, fewer bounce rates, increase page visits, increase traffic
                    through SEO to create
                    more leads and keep the new design approach consistent and minimalistic. Create a unified design
                    internationally,
                    and then plan and develop as a team with an agile implementation.
                    <div>
                        <div id="projectTitle">
                            <h2>Wireframe </h2>
                        </div>
                        <p class="lead">Early stages of responsive design wireframing, and final stages of wireframes
                            using balsamic.</p>
                        <img class="mr-6" src="images/ID_marketing_responsive.png" alt="responsive wireframes" width="100%"
                            height="auto">
                        <img class="mr-6" src="images/ID_marketing_wireframe.png" alt="workflow" width="100%" height="auto">
                        <div id="projectTitle">
                            <h2>Google Analytics</h2>
                        </div>
                        <p class="lead">I designed an info graphic to present the Google analytics findings during my
                            research to show qualitative
                            data in my research.</p>
                        <img class="mr-6" src="images/ID_marketing_analytics.png" alt="analytics" width="100%" height="auto">


                        <div id="projectTitle">
                            <h2>Inetrnational Websites </h2>
                        </div>
                        <p class="lead">I designed a infographic to present all of the international websites that will
                            be going through
                            the redesign process.</p>
                        <img class="mr-6" src="images/ID_marketing_international.png" alt="international websites"
                            width="100%" height="auto">


                        <div id="projectTitle">
                            <h2>SEO Improvements</h2>
                        </div>
                        <p class="lead">This is a screenshot of the progress I made using Conductor. You can see the
                            actual results in a
                            quantitative approach. Conductor helped me discover online customers who are looking to
                            buy.
                            This
                            increased marketing ROI with Conductor's content and SEO platform. This helped identify
                            opportunities
                            by getting audience insights for content creation, uncover competitors’ strategies, track
                            keywords
                            and market share by device, location and result types. It helped with optimizing content to
                            prioritized
                            SEO recommendations, find and fix technical site errors, keep the content fresh by tracking
                            audience
                            trends and it helped measure performance by tieing content and SEO activities back to
                            revenue,
                            allowing me to see the content performance by page, persona or product and easily
                            communicate
                            results with global stakeholders.
                        </p>
                        <img class="mr-6" src="images/ID_marketing_SEOprogress.png" alt="SEO progress" width="100%"
                            height="auto">
                        <img class="mr-6" src="images/ID_marketing_analiticsProgress.png" alt="goggleAnalytics" width="100%"
                            height="auto">
                        <img class="mr-6" src="images/ID_marketing_feedback.png" alt="testimonial" width="100%" height="auto">
                        <div id="projectTitle">
                            <h2>Research and Heatmaps</h2>
                        </div>
                        <p class="lead">In my research, I noticed many user clicks are high on the "Compare Implant"
                            page and the "About"
                            page using Google Analytics and Hot Jars heatmap tool. With my findings, I took my research
                            further
                            and started to do live open-ended questions with department chairs and anonymous online
                            users
                            based on these facts. Being that this is a marketing website and not the actual store, many
                            users
                            are looking and browsing for vital convincing information to make a transformation. Besides
                            updating
                            the product pages, a huge amount of calls came into customer support about locating
                            information
                            about the compare page. It was located in the footer, way before the page fold which made
                            it
                            hard for the user to locate, and to solve that problem I was going to move it to the main
                            nav
                            bar, also a much user-friendlier approach was going to be approached in the designed. As
                            for
                            the about page, it was going to be redesigned based on user needs and behavior since this
                            page
                            was often used at tradeshows the design had to show real people interaction, limit some
                            content
                            of the founder to propose a clear vision of our mission, add links to contact page with our
                            facilities,
                            add a learning center page, say we are international, show our growth, add some
                            testimonials,
                            to make the user feel well informed and build a glossary of high key search terms to boost
                            SEO.
                        </p>
                        <img class="mr-6" src="images/ID_marketing_heatmaps.png" alt="heatmaps" width="100%" height="auto">

                        <div id="projectTitle">
                            <h2>Software Development</h2>
                        </div>
                        <p class="lead">Being that the team used to a waterfall approach we switched to a Jira for a
                            project management tool
                            for our Agile team can stay focused on delivering iterative and incremental value, as fast
                            as
                            possible, with customizable scrum boards. Implemented a redefined sitemap after numerous
                            meetings
                            with marketing and the sales department on the hierarchy of products and information.
                        </p>
                        <img class="mr-6" src="images/ID_marketing_sitemap.png" alt="workflow" width="100%" height="auto">

                        <img class="mr-6" src="images/ID_marketing_workflow.png" alt="workflow" width="100%" height="auto">



                        <div id="projectTitle">
                            <h2>Styleguide</h2>
                        </div>
                        <p class="lead">Once all the user research was completed, I moved on to a style guide to put
                            all the user interface
                            elements together such as the font, the color, buttons and some interactions.
                        </p>
                        <img class="mr-6" src="images/ID_marketing_styleguide.png" alt="workflow" width="100%" height="auto">


                        <div id="projectTitle">
                            <h2>Mockup</h2>
                        </div>
                        <p class="lead">Once all the approvals to move forward after presenting my findings and design
                            approach I designed
                            all the pages for all the new marketing websites.
                        </p>
                        <img class="mr-6" src="images/ID_marketing_mockup.png" alt="workflow" width="100%" height="auto">



                        <!-- <div id="projectTitle">
                            <h2>Live Prototype</h2>
                        </div>
                        <video width="800" align="center" controls>
                            <source src="media/ID_responsiveSite.mov" type="video/mp4">
                        </video> -->


                        <div class="grid__item theme-1">

                            <!--cool button-->
                            <a href="http://trishid.com/#my-work">
                                <button class="action">
                                </button>
                                <button class="particles-button">
                                    More Projects
                                </button>
                            </a>
                        </div>
                        <!--end cool button-->

                    </div>

            </div>
        </section>
    <!--
            /**
             * Contact
             */ -->
    <section id="work-with-me" class="container-fluid">
        <div class="text-center wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="100ms">
            <h1>Contact</h1>
        </div>

        <div class="typeform-widget" data-url="https://trishbellardine.typeform.com/to/qwUoUw" data-transparency="1" style="width: 100%; height: 500px;"></div>
        <script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script>

        <hr>
        <div class="social container">

            <a href="https://www.linkedin.com/in/patricia-bellardine-9b6ba52b" alt="Linkedin">
                <span class="fa fa-linkedin"></span>
            </a>
            <a href="mailto:trishbellardine@gmail.com" alt="Email">
                <span class="fa fa-envelope"></span>
            </a>
            <a href="https://github.com/trudesigns" alt="Github">
                <span class="fa fa-github"></span>
            </a>
        </div>


    </section>

        <!--
    /**
     * Google Analytics key will be set upon grunt deploy,
     * grunt replace is configured to find the pattern @@gaKey
     * and replace it with the current configs gaKey.
     */ -->
        <script>
            !function (A, n, g, u, l, a, r) {
                A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                    (A[l].q = A[l].q || []).push(arguments)
                }, A[l].l = +new Date, a = n.createElement(g),
                    r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
            }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', '@@gaKey');
            ga('send', 'pageview');
        </script>

        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-scroll/angular-scroll.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/wow/dist/wow.js"></script>
        <script src="bower_components/typed.js/dist/typed.min.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/config.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/modalinstance.js"></script>
        <script src="scripts/controllers/newmodalinstance.js"></script>
        <script src="scripts/controllers/navigation.js"></script>
        <script src="scripts/directives/trishModal.js"></script>
        <script src="scripts/directives/newModal.js"></script>
        <script src="scripts/services/contact.js"></script>
        <script src="scripts/services/alert.js"></script>
        <script src="scripts/services/mywork.js"></script>
        <script src="scripts/services/newcontent.js"></script>
        <script src="scripts/services/contentsource.js"></script>
        <script src="scripts/services/spreadsheet.js"></script>
        <!-- endbuild -->


        <!-- cool button-->
        <script src='scripts/anime.min.js'></script>
        <script src='scripts/particles.js'></script>
        <script src='scripts/demo.js'></script>
        <!--end cool button-->
    </body>

</html>
